.image{
    height: 25px;
    width: 25px;
    display: flex;
    background-color: grey;
}
#sign{
    text-decoration: none;
    color: black;
}
#join{
    text-decoration: none;
    color: black;
}
.head{
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 20px;
}
.div1{
    display: flex;
    margin-left: 1100px;
    gap: 20px;
}
.imge img{
    height: 50px;
    width: 70px;
}
.mid{
    display: flex;
    gap: 30px;
    margin-left: 500px;
}
.nav2{
    align-items: center;
    display: flex;
}
.sear input{
    background-color: #E9ECEF;
    border-radius: 30px;
    border: transparent;
    outline: none;
}
.sear{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.heart{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.box{
    align-items: center;
    background-color: #E9ECEF;
    height:100px;
    text-align: center;
    line-height: 0.25;
    padding: 0.2px 0px;
}
.box h2{
    margin-top: 30px;
}
.bag{
    margin-left: 15px;
}
.bag i{
    font-size: 20px;
}
.heart i{
    font-size: 20px;
}
.ima{
    display: flex;
    align-items: center;
}
.ima img{
    margin-top: 50px;
    margin-left: 350px;
    display: flex;
    align-items: center;
    height: 300px;
    width: 800px;
}
.lines{
    align-items: center;
    text-align: center;
}
.lines h3{
    font-size: 25px;
    margin-top: -10px;
}
.lines h1{
    font-size: 60px;
    font-weight: 600;
    margin-top: -10px;
}
.lines p{
    font-size: 20px;
    font-weight: 100;
    margin-top: -10px;
}
.lines button{
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.lines button:hover{
    background-color: #E9ECEF;
    color: black;
}
.picss{
    display: flex;
    margin-left: 70px;
}
.pic img{
    height: 400px;
    width: 450px;
    margin-left: -10px;
}
.icon p{
    color: grey;
    transition: 0.2s;
}
.icon p:hover{
    color: black;
    transition: 0.2s;
}
.secondlast{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shoes p{
    color: grey;
    transition: 0.2s;
}
.shoes p:hover{
    color: black;
    transition: 0.2s;
}
.cloth p{
    color: grey;
    transition: 0.2s;
}
.cloth p:hover{
    color: black;
    transition: 0.2s;
}
.kids p{
    color: grey;
    transition: 0.2s;
}
.kids p:hover{
    color: black;
    transition: 0.2s;
}
.icon{
    margin-left: 200px;
}
.shoes{
    margin-left: 200px;
}
.cloth{
    margin-left: 200px;
}
.kids{
    margin-left: 200px;
}
hr{
    background-color: gray;
}
.end{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.resource{
    margin-left: 70px;
}
.resource p{
    color: grey;
    transition: 0.2s;
}
.resource p:hover{
    color: black;
    transition: 0.2s;
}
.help{
    margin-left: 150px;
}
.help p{
    color: grey;
    transition: 0.2s;
}
.help p:hover{
    color: black;
    transition: 0.2s;
}
.company{
    margin-left: 150px;
}
.company p{
    color: grey;
    transition: 0.2s;
}
.company p:hover{
    color: black;
    transition: 0.2s;
}
.india{
    display: flex;
    margin-left: 600px;
    align-items: center;
    margin-top: -250px;
}